*~
*.orig
/7636508058_le-grand-jury-du-14-nov-2010.mp3
/*.c
/*.patch
/.project
/src/path.h
/path.h
/lisaac
/lisaac.exe
/lisaac.c
/install_lisaac
/install_lisaac.exe
/lisaac-cov
/lisaac-cov.c
/lisaac-cov.cov
/lisaac-cov.cov.orig
/l
/l.c
/doc/
/bootstrap/
/Markdown.pl
/.cucumber-rerun.txt
/tmp/
/snapshot-Avant_bidouille_alias-str.tar.bz2
/make.lip.oldmildred
/make.lip.old
/.Kprefs
.*.swp
