*~
*.orig
/make.lip
/*.c
/*.patch
/.project
/src/path.h
/path.h
/lisaac
/lisaac.exe
/lisaac.c
/install_lisaac
/install_lisaac.exe
/lisaac-cov
/lisaac-cov.c
/lisaac-cov.cov
/lisaac-cov.cov.orig
/l
/l.c
/doc/
/bootstrap/
/Markdown.pl
